.new-notebook-container{
 margin-bottom: 10px;
 
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://css.gg/add-r.css');

.btn-1 {
  display: flex;
  flex-direction: row;
  background: green;
  border-radius: 20px;
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  height: 40px;
  width: 90%;
  margin-left: 2%;
  line-height: 40px;
  text-decoration: none;
}
.note-icon {
  height: 20px;
  
  margin-right: 8px;
  margin-top: 10px;
  margin-left:8px ;
}
