.new-notebook-div {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 10px grey;
  width: 30vw;
  height: 35vh;
  background-color: white;
  overflow: scroll;
}
.modal-new-notebook-text {
  padding-top: 10px;
  margin-left: 20px;
  font-size: 25px;
}
.notebook-blurb {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 10px;
}
.new-notebook-header {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 10px;
}
.new-notebook-input {
  font-size: 18px;
  height: 40px;
  width: 90%;
  margin-left: 20px;
}
.new-notebook-spacer {
  margin-left: 20px;
  margin-top: 20px;
  border-top: 2px solid grey;
  width: 91%;
}
.new-notebook-submit-area {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.cancel-button {
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  border: 2px solid grey;
  height: 40px;
  width: 80px;
  margin-right: 5px;
}
.continue-button {
  cursor: pointer;
  color: white;
  background-color: green;
  margin-right: 25px;
  font-size: 18px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  border: 2px solid grey;
  height: 40px;
  width: 80px;
}
