.container{
    border-radius: 0.5em;
    background-color: #1a1a1a;
    color: #8f8f8f;
    height:100%;
    width:25vw;
    max-width: 400px;
    position: fixed;
}
.painter{
    border: 1px solid black
}
.editor{
    width:600px;
    height: 300px
}
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");


.home-button-navlink{
    text-decoration: none;
    margin-top: 20px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    height: 30px;
    line-height: 30px;
    
}

.home-text{
    color: grey;
    text-decoration: none;
    margin-top:5px;
    margin-left: 5px;
    font-size:20px;
    
}
