.note-books-container {
  display: flex;
  flex-wrap: wrap;

  max-width: auto;

  padding: 5%;
  min-height: 30vh;
  max-height: 100vh;
  overflow-y: scroll;
}
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.notebooks-menu-button {

  cursor: pointer;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid lightyellow;
  height: 30px;
  background: linear-gradient(to right, lightblue, lightyellow);
  border-radius: 5px;
}
.book {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;

  cursor: pointer;
  background: #fff;
  width: 10%;
  height: 100px;
  box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px #eee,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 20px 0 -10px #eee,
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  /* Padding for demo purposes */
  padding: 30px;
  position: relative;
}
/* .book button {
  display: inline;
  width: 20px;
  height: 20px;
} */
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
}
@import url("https://css.gg/mail-open.css");
@import url("https://css.gg/file-remove.css");
.email {
  bottom: 0;
  margin-left: 1px;
  margin-top: 10px;
  background: white;
  border: none;
}
.delete {
  content: "x";
  color: red;
  font-weight: 300;
  font-size: 30px;

  background: none;
  border: none;
}
