.notebooks-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* margin-left: 25vw; */
}

.notebooks-header {
  margin-top: 5vh;
  height: 100px;
  line-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 74vw;
}
.notebook-text {
  /* height: 30px; */
  font-size: 50px;
}
.notebook-number {
  font-size: 25px;
  margin-left: 3px;
  padding-top: 9px;
}
.new-notebook-text {
  padding: 2px;
  font-size: 25px;
  color: #2ecc71;
}
.notebook-title-text {
  margin-left: 2px;
  font-size: 20px;
}
.search-container {
  padding: 2px;
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  margin-top: 20px;
  margin-right: 3vw;
  height: 40px;
  background-color: white;
  border-radius: 10px;
}
.notebook-search {
  height: auto;
  width: 15vw;
  margin-right: 5px;
  border: none;
}
.notebook-search:focus {
  outline: none;
}
.notebook-search-icon {
  height: auto;
  padding: 1px;
}

.notebook-number-new-container {
  width: 74vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.new-notebook-button {
  cursor: pointer;
  margin-top: 10px;
  margin-right: 3vw;
}
.new-notebook-icon {
  margin-right: 5px;
  height: 25px;
}

.notebook-spacer {
  width: 71.2vw;
  border-top: 3px solid grey;
}

.notebooks-container {
  height: 70vh;
  width: 74vw;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.notebook-dropdown-start {
  cursor: pointer;
  transform: rotate(-90deg);
}
.notebook-dropdown {
  cursor: pointer;
  transform: rotate(360deg);
}

.notes-in-notebook-container {
  border-radius: 5px;
  margin-left: 3vw;
  border: 1px solid grey;
  background-color: white;
  width: 45vw;
  height: 40vh;
  overflow: scroll;
}
.notebook-note {
  cursor: pointer;
  margin-left: 3vw;
  margin-right: 3vw;
  width: 40vw;
  border-bottom: 3px solid grey;
}
.delete-notebook-button {
  cursor: pointer;
  color: white;
  background-color: green;
  margin-right: 25px;
  font-size: 18px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  border: 2px solid grey;
  height: 40px;
  width: 150px;
}
.create-note-notebook-button {
  cursor: pointer;
  color: grey;
  font-size: 18px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  border: 2px solid grey;
  height: 40px;
  width: 150px;
  border: 2px solid grey;
}
.delete-notebook-container {
  margin-top: 5px;
  height: 45px;
  width: 43vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
