
.save-note-button {
  border-radius: 5px;
  background-color: green;
  color: white;
}
.note-container{
  border-left: 1px solid grey;
  background-color: white;
}
.text-editor{
  background-color: white;
  width : 55vw;
}
.DraftEditor-root{
  margin-top: 10px;
  height: 90vh;
  border-radius: 10px;
}