.note-container {
  width: 91vw;
}

.note-text-area {
  height: 100%;
  width: 99.6%;
}
.ck-editor__editable_inline {
  min-height: 800px;
  height: 92vh;
}
.save-note-button {
  border-radius: 5px;
  background-color: green;
  color: white;
}
