@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.signup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.logo-img {
  margin-top: 15vh;
  height: 80px;
  width: 80px;
}
.username-signup {
  margin-top: 10px;
  border: 0.5px solid lightgray;
  font-size: 20px;
  width: 350px;
  height: 35px;
  border-radius: 5px;
}
