@import url("https://css.gg/profile.css");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  color: #8f8f8f;
}

.nav-button {
  color: black;
}

.nav-user-info {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 20px;
}

.nav-user-icon {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-color: green;
  color: white;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
}

.nav-user-name {
  height: 40px;
  width: 300px;
  line-height: 40px;
}

.drop {
  margin-top: 3px;
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 10px;
  width: fit-content;
  left: 0;
  top: 48px;
  z-index: 99999;
  margin-bottom: 3px;
}

.drop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-top: 3px;
  margin-left: 8px;
  width: 15vw;
  background-color: white;
  height: fit-content;
  border-radius: 5px;
  margin-bottom: 5px;
}

.logout {
  border-radius: 5px;
  margin-top: 10px;
  height: 30px;
  width: 14vh;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  background-color: green;
}

.profile-spacer {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid grey;
  width: 75%;
}